<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <!--<link rel="stylesheet" href="/css/login.css"></link>-->
    <link rel="stylesheet" href="/css/bootstrap.css"></link>
    <script src="/js/jquery.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6 align-self-center">
            Навигация
        </div>
    </div>
    <div class="row">
        <div class="col">Подписки</div>
        <div class="col">Новости(Лента)</div>
        <div class="col">Инфо</div>
    </div>
</div>
</body>
</html>