<!DOCTYPE html>
<html data-layout-decorator="layouts/base">
<head>
    <title>Profile</title>
</head>
<body class="general">
<div data-layout-fragment="content">
    <div class="row ">
        <img class="img-fluid col-12" alt="100%x250" style="height: 250px; width: 100%; display: block"
             src="http://minecraft-double.ru/uploads/posts/2015-04/1429715156_maxresdefault.jpg"/>
    </div>
    <div class="row">
        <div class="col-md-3 order-1 order-md-1 mb-3" th:include="parts/subscribes :: subs">
        </div>
        <div class="col-md-6 order-3 order-md-2 mb-3">
            <div th:each="post:${posts}">
                <div th:include="parts/post :: post"></div>
            </div>
        </div>
        <div class="col-md-3 order-2 order-md-3 mb-3 " th:include="parts/info :: info">
        </div>
    </div>
</div>
</body>
</html>